<h1>現在進行中の仕事</h1>
<!- request ->
<% if @client_works %>
  <% @client_works.each do |work| %>
    <h3><%= link_to work.title, work_path(work.works.first) %></h3>
    <p><%= work.workings.first.name %></p>
  <% end %>
<% end %>

<!- work ->
<% if @worker_works %>
  <% @worker_works.each do |work| %>
    <h3><%= link_to work.title, work_path(work.works.first) %></h3>
    <p><%= work.client.name %></p>
  <% end %>
<% end %>
